[package]
name = "nyoom"
version = "0.7.0"
edition = "2021"
authors = ["Ryan Cao <hello@ryanccn.dev>"]

[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.0", features = ["derive"] }
clap_complete = "4.3.2"
colored = "2.0.4"
dirs = "5.0.1"
nanoid = "0.4.0"
regex = "1.9.4"
reqwest = { version = "0.11.20", features = [
  "rustls-tls",
  "blocking",
], default-features = false }
rust-embed = "8.0.0"
serde = { version = "1.0.179", features = ["derive"] }
sysinfo = "0.29.9"
toml = "0.7.6"
zip = "0.6.6"
