[package]
name = "nyoom"
version = "0.7.1"
edition = "2021"
authors = ["Ryan Cao <hello@ryanccn.dev>"]

[dependencies]
anyhow = "1.0.75"
async-recursion = "1.0.5"
clap = { version = "4.4.0", features = ["derive"] }
clap_complete = "4.4.1"
dirs = "5.0.1"
nanoid = "0.4.0"
owo-colors = "3.5.0"
regex = "1.9.4"
reqwest = { version = "0.11.20", features = [
  "rustls-tls",
  "brotli",
], default-features = false }
rust-embed = "8.0.0"
serde = { version = "1.0.179", features = ["derive"] }
sysinfo = "0.29.10"
tokio = { version = "1.32.0", features = ["full"] }
toml = "0.8.0"
zip = "0.6.6"
