[package]
name = "nyoom"
version = "0.5.0"
edition = "2021"
authors = ["Ryan Cao <hello@ryanccn.dev>"]

[dependencies]
anyhow = "1.0.72"
clap = { version = "4.3.12", features = ["derive"] }
clap_complete = "4.3.2"
colored = "2.0.4"
dirs = "5.0.1"
nanoid = "0.4.0"
regex = "1.9.1"
reqwest = { version = "0.11.18", features = ["rustls", "blocking"] }
rust-embed = "6.8.1"
serde = { version = "1.0.171", features = ["derive"] }
sysinfo = "0.29.5"
toml = "0.7.6"
zip = "0.6.6"
