[package]
name = "nyoom"
version = "0.7.4"
edition = "2021"
authors = ["Ryan Cao <hello@ryanccn.dev>"]
publish = false

[dependencies]
async-recursion = "1.1.1"
clap = { version = "4.5.8", features = ["derive"] }
clap_complete = "4.5.3"
color-eyre = "0.6.3"
dirs = "5.0.1"
enum_dispatch = "0.3.13"
nanoid = "0.4.0"
owo-colors = "4.0.0"
regex = "1.10.4"
reqwest = { version = "0.12.4", features = ["rustls-tls", "brotli"], default-features = false }
rust-embed = "8.4.0"
serde = { version = "1.0.203", features = ["derive"] }
sysinfo = "0.30.13"
tokio = { version = "1.38.0", features = ["full"] }
toml = "0.8.14"
zip = "2.1.3"
