name: Nix

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux
          - darwin
        include:
          - platform: linux
            runner: ubuntu-latest
          - platform: darwin
            runner: macos-latest

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v22

      - name: Push to cache
        uses: ryanccn/attic-action@main
        if: ${{ github.event_name == 'push' }}
        with:
          endpoint: ${{ secrets.ATTIC_ENDPOINT }}
          cache: ${{ secrets.ATTIC_CACHE }}
          token: ${{ secrets.ATTIC_TOKEN }}

      - name: Check flake
        run: nix flake check

      - name: Build
        run: nix build --accept-flake-config ".#nyoom"
