name: Release

on:
  push:
    tags: ["v*.*.*"]

permissions:
  contents: write

jobs:
  build:
    uses: ./.github/workflows/build.yml

  publish:
    needs: ["build"]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v3
        with:
          path: artifacts

      - name: Upload to release
        uses: softprops/action-gh-release@v1
        with:
          files: artifacts/**/*
